.acn-header {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #5E6C84;
    font-size: 0.9rem;
    margin-bottom: 12px;
}

.acn-header > .aui-icon {
    margin-right: 2px;
}

.acn-header-text:hover {
    text-decoration: underline;
}
