body {
    background: #fff;
}

.ac-content {
    display: flex;
    font-size: 14px;
    line-height: 1.7;
    height: 100%;
}

.ac-content > div {
    padding: 1.6em 2.2em;
}

.acn-sidebar {
    list-style: none;
    padding: 1.6em 1.5em;
    width: 50%;
    max-width: 220px;
    border-right: 1px solid #091e4214;
}

.acn-sidebar-submenu {
    list-style: none;
    padding-left: 1.2em;
}

.link-span:first-of-type {
    color: #0052CC;
    cursor: pointer;
}

.flexed {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.config-container {
    background: #f4f5f7;
    padding: 12px;
    border-radius: 4px;
}

.logs-container {
    overflow: auto;
    background: #000;
    color: #fff;
    border-radius: 4px;
    padding: 6px 12px;
}

.aui-button-link {
    color: #172b4d;
}

.aui-button-link:hover, .aui-button-link.selected {
    color: #0052cc;
}


