body {
    background: #fff;
}

.ac-content {
    position: relative;
    display: flex;
    font-size: 14px;
    line-height: 1.7;
    height: 100%;
    margin: 1.6em 2.6em;
}

#feedback-button {
    position: absolute;
    top: 0;
    right: 0;
}

.link-span:first-of-type {
    color: #0052CC;
    cursor: pointer;
}

.logs-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.5em 0 1em;
}

pre {
    background: #f4f5f7;
    padding: 0.75em;
    border-radius: 4px;
}

.logs-container {
    width: calc(100vw - 340px);
    overflow: auto;
    background: #000;
    color: #fff;
    border-radius: 4px;
    padding: 0.3em 0.75em;
    margin-top: 0.75em;
}
.logs-container > pre {
    background: #000;
}


/* SIDEBAR */
.acn-sidebar {
    list-style: none;
    padding: 1.6em 1.5em;
    width: 50%;
    max-width: 220px;
    border-right: 1px solid #efeff2;
}

.acn-sidebar-submenu {
    margin-top: 0;
    list-style: none;
    padding-left: 1.2em;
}

.aui-button-link {
    color: #172b4d;
}

.aui-button-link:hover, .aui-button-link.selected {
    color: #0052cc;
}

/* BACK NAV */
.acn-header {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #5E6C84;
    font-size: 0.9rem;
    margin-bottom: 1.5em;
}

.acn-header > .aui-icon {
    margin-right: 0.12em;
}

.acn-header-text:hover {
    text-decoration: underline;
}
